*{
    margin: 0px;
    padding: 0;
}

.landingPage{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  pointer-events: none;

}

/* bella landing page*/

.topscreenBella{
position: absolute;
white-space: nowrap;
margin: 4dvh;
margin-top: 6dvh;
padding: 1vw;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
animation: marquee 5s linear infinite;
color: #ffffff;
z-index: 3;
border-top: solid 2px rgb(255, 255, 255);
border-bottom: solid 2px rgb(255, 255, 255);
pointer-events: none;


}

.headerBella{
    display: flex;
    margin-top: 11dvh;
    padding: 0em;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 9;
    overflow: visible;
    pointer-events: none;


}
/* #header h1{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 7vw;
} */

.headerBella img{
  max-width:85vw;
  height: auto;
  filter: drop-shadow(0.1em 0.4em 0px rgb(0, 0, 0));
  pointer-events: none;

}


.footerBella{
    position: absolute;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    height: 10dvh;
    margin-top: 27dvh;
    margin-bottom: 63dvh;
    width: 100%;
    z-index: 8;
    pointer-events: none;

    /* overflow: hidden; */

}
/* #header h1{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 7vw;
} */

.footerBella img{
  max-width: 90vw;
  height: auto;
  filter: drop-shadow(0.1em 0.4em 0px rgb(0, 0, 0));
  pointer-events: none;

}


.wallpaperBella{
  position: fixed;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  mix-blend-mode: multiply;
  opacity: 50%;
  z-index: 1;
  pointer-events: none;

}

.wallpaperBella img{
  max-width: 100vw;
  pointer-events: none;


}

.gradientBella{
  position: fixed;
  height: 100dvh;
  width: 100vw;
  object-fit: cover;
  align-items: center;
  display: block;
  pointer-events: none;

}

.gradientBella img{
  height: 100dvh;
  width: 100vw;
  pointer-events: none;

}

.bellaBella{
  position: relative;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  height: 60dvh;
  width: 100%;
  object-fit: contain;
  z-index: 2;
  transform: translateY(70%);
  pointer-events: none;

  /* overflow: hidden; */

}

.bellaBella img{
  max-width: 100vw;
  pointer-events: none;

}

.bubblegridBella{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-right: 5em;
    width: 50vw;
    height: 13dvh;
    z-index: 8;
    justify-content: center;
    align-items: center;
    transform: translateY(-390%);
    pointer-events: none;

    /* overflow: hidden; */

}

.bubbleBella {
    /* transform: translate(-20%, -40%); */
    width: 48vw;
    height: 4dvh;

    position: relative;
    background: rgb(0, 0, 0);
    /* border-top: solid 2px rgb(255, 255, 255);
    border-bottom: solid 2px rgb(255, 255, 255); */
    color: #bababa;
    font-family: Arial;
    font-size: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
    line-height: 2em;
    padding-bottom: 3px;
    border-radius: 3em;
    border: 3px;
    border-style: groove;
    /* transform: rotate(334deg); */
    white-space: nowrap;
    z-index: 6;
    pointer-events: none;

    

    opacity: 1;
    animation: fadeInUp 1.5s;
    -webkit-animation: fadeInUp 1.5s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;

    /* overflow: hidden; */
}

.bubbleBella::after {
    content: '';
    position: absolute;
    bottom: -2.5em;    
    left: 0%;    
    transform: translateX(40%);
    width: 1.8em;
    height: 1.8em;
    background: black;
    border: 3px groove #bababa;
    border-radius: 50%;

}

.bubbleBella::before {
    content: '';
    position: absolute;
    bottom: -4em;    
    left: 0%;    
    transform: translateX(150%);
    width: 1em;
    height: 1em;
    background: black;
    border: 3px groove #bababa;
    border-radius: 50%;
    z-index: 5;

}


@-webkit-keyframes fadeInUp{
    0%{
      opacity: 0;
      -webkit-transform: translateY(10px);
    }
    100%{
      opacity: 1;
      -webkit-transform: translateY(0);
    }

    
}

@keyframes fadeInUp{
    0%{
      opacity: 0;
      -webkit-transform: translateY(10px);
    }
    100%{
      opacity: 1;
      -webkit-transform: translateY(0);
    }
}

.frameBella{
  position: fixed;
  height: 100dvh;
  width: 100vw;
  object-fit: cover;
  align-items: center;
  z-index: 7;
  pointer-events: none;

}

.frameBella img{
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}

.toyIndex{
  /* filter: grayscale(100%); */
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50dvh;
  width: 70vw;
  align-items: center;
  justify-content: center;
  margin: 0em auto;
  padding-top: 7em;
  padding-bottom: 9em;
  z-index: 6;
}

.toyImages{
  display: flex;
  background: black;
  border: 6px groove #bababa;
  border-radius: 50%;
  padding: 0.5em 0;
  margin: 1em 0;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  z-index: 6;
  position: relative;
}

.toyImages a{
  position: absolute;
  inset: 0;
  pointer-events: all;
}


.toyImages img{
  max-width: 95%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  pointer-events: none;
}

/* duncan */


.bgColorDuncan{
  position: fixed;
  width: 110vw;
  height: 110dvh;
  background-color: black;
  z-index: -2;
}

.bgImageDuncan{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80vw;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
  border: 8mm ridge rgb(237, 206, 172);
  border-radius: 40em;
}

canvas{
  display: block;
  position: fixed;
}

.marqueeScreenDuncan{

  top: 59%;
  left: -10%;
  right: -10%;
  transform: rotate(-30deg);

  
  position: fixed ;
  white-space: nowrap;
  overflow: visible;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 3em;

  animation: marquee 3s linear infinite;
  color: #fff2e3;
  z-index: 3;

}

#headerDuncan{

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    display: flex;
    justify-content: center; 
    position: fixed;
    width: 100%;
    
    z-index: 2;
}
/* #header h1{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 7vw;
} */

#headerDuncan img{
  max-width:105vw;
  height: auto;
  transform: rotate(-30deg);

  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



/* @media (min-width: 465px){

*{
    margin: 0;
    padding: 0;
}

body{
  width: 100vw;
  height: 100dvh;
  background-color: rgb(255, 33, 33) transparent;
}

.topscreenBella {
  display: none;
}

.wallpaperBella{
  display: none;
}

.bellaBella {
  display: none;
}

.bubbleBella{
  display: none;
}

.headerBella{
  display: none;
}

.footerBella{
  display: none;
}

.gradientBella{
  display: none;
}

.frameBella{
  display: none;
}

#headerDuncan{
  display: none;
}
.bgColorDuncan{
  display: none;
}

.bgImageDuncan{
  display: none;
}

canvas{
  display: none;
}

.marqueeScreenDuncan{
  display: none;
}

.headerDuncan{
  display: none;
}

} */

